<div class="my-3 p-3 p-md-4 rounded action-card">
  <details>
    <summary class="action-card__summary">
      <span class="action-card__checkbox">
        <input type="checkbox">
      </span>
      {{ productOption.name }}
    </summary>
    <div class="action-card__content">
      <div class="form-group mt-3">
        <label for="productOptionName1">Name</label>
        <input type="text" class="form-control" id="productOptionName1" required>
      </div>

      <fieldset>
        <h3 class="h6 mt-4">Values</h3>

        <!-- TODO: loop through product option values -->
        <%- partial('../partials/admin-product-option-value.ejs') %>
        <!-- TODO: end loop -->

        <div class="d-md-flex my-3 action-card-actions">
          <select class="form-control form-control-sm mr-3" disabled>
            <option>Set as available</option>
            <option>Set as unavailable</option>
            <option>Delete</option>
          </select>
          <button class="btn btn-secondary btn-sm" disabled>Apply</button>
          <button class="btn btn-peepl btn-sm ml-auto">Add a new value</button>
        </div>
      </fieldset>
    </div>
  </details>
</div>
