.btn-peepl {
    color: color-yiq($green);
        @include gradient-x($color-vegi-pale-green, $green);

    &:hover {
        color: color-yiq(darken($green, 7.5%));
            @include gradient-x(darken($color-vegi-pale-green, 7.5%), darken($green, 7.5%));
    }

    &[disabled] {
        color: color-yiq($gray-600);
        background: $gray-600;
        cursor: not-allowed;
    }
}


#countMessage {
    margin-top: -20px;
    margin-right: 5px;
  }
