// Color system

$color-peepl-black: #000000;
$color-peepl-dark-grey: #28303D;
$color-peepl-taupe: #A09F9E;
$color-peepl-red: #FC0C1A;
$color-peepl-orange: #FC870C;
$color-peepl-yellow: #FCCA0C;
$color-peepl-green: #7EBD46;
$color-peepl-teal: #46BDB1;
$color-peepl-blue: #2B70DF;
$color-peepl-purple: #601E69;
$color-peepl-white: #FFFFFF;
$color-vegi-black: #000000;
$color-vegi-dark-grey: #28303D;
$color-vegi-taupe: #A09F9E;
$color-vegi-red: #FC0C1A;
$color-vegi-orange: #FC870C;
$color-vegi-yellow: #E5AA52;
$color-vegi-green: #8AC479;
$color-vegi-dark-green: #0D2A21;
$color-vegi-purple: #601E69;
$color-vegi-teal: #46BDB1;
$color-vegi-blue: #2B70DF;
$color-vegi-white: #FFFFFF;
$color-peepl-pale-grey: #F2F2F2;
$color-peepl-cream: #F5F2EB;
$color-peepl-pale-red: #F7E9EA;
$color-peepl-pale-orange: #F9EEE3;
$color-peepl-pale-yellow: #FFF8DD;
$color-peepl-pale-green: #EBF6E2;
$color-peepl-pale-purple: #e0b0e6;
$color-peepl-pale-teal: #E7F9F7;
$color-peepl-pale-blue: #EDF3FC;

$color-vegi-pale-grey: #F2F2F2;
$color-vegi-cream: #F5F2EB;
$color-vegi-pale-red: #F7E9EA;
$color-vegi-pale-orange: #F9EEE3;
$color-vegi-pale-yellow: #eed5b0;
$color-vegi-pale-green: #d6f0cf;
$color-vegi-pale-purple: #e0b0e6;
$color-vegi-pale-teal: #E7F9F7;
$color-vegi-pale-blue: #EDF3FC;
$color-fuse-app-header: #fff;

$theme-colors: (
    "peepl-black": $color-peepl-black,
    "peepl-dark-grey": $color-peepl-dark-grey,
    "peepl-taupe": $color-peepl-taupe,
    "peepl-red": $color-peepl-red,
    "peepl-orange": $color-peepl-orange,
    "peepl-yellow": $color-peepl-yellow,
    "peepl-green": $color-peepl-green,
    "peepl-teal": $color-peepl-teal,
    "peepl-blue": $color-peepl-blue,
    "peepl-white": $color-peepl-white,
    "peepl-pale-grey": $color-peepl-pale-grey,
    "peepl-cream": $color-peepl-cream,
    "peepl-pale-red": $color-peepl-pale-red,
    "peepl-pale-orange": $color-peepl-pale-orange,
    "peepl-pale-yellow": $color-peepl-pale-yellow,
    "peepl-pale-green": $color-peepl-pale-green,
    "peepl-pale-teal": $color-peepl-pale-teal,
    "peepl-pale-blue": $color-peepl-pale-blue,
    "vegi-black": $color-vegi-black,
    "vegi-dark-grey": $color-vegi-dark-grey,
    "vegi-taupe": $color-vegi-taupe,
    "vegi-red": $color-vegi-red,
    "vegi-orange": $color-vegi-orange,
    "vegi-yellow": $color-vegi-yellow,
    "vegi-green": $color-vegi-green,
    "vegi-purple": $color-vegi-purple,
    "vegi-teal": $color-vegi-teal,
    "vegi-blue": $color-vegi-blue,
    "vegi-white": $color-vegi-white,
    "vegi-pale-grey": $color-vegi-pale-grey,
    "vegi-cream": $color-vegi-cream,
    "vegi-pale-red": $color-vegi-pale-red,
    "vegi-pale-orange": $color-vegi-pale-orange,
    "vegi-pale-yellow": $color-vegi-pale-yellow,
    "vegi-pale-green": $color-vegi-pale-green,
    "vegi-pale-purple": $color-vegi-pale-purple,
    "vegi-pale-teal": $color-vegi-pale-teal,
    "vegi-pale-blue": $color-vegi-pale-blue,
);

$blue: $color-vegi-blue;
$red: $color-vegi-red;
$orange: $color-vegi-orange;
$yellow: $color-vegi-yellow;
$green: $color-vegi-green;
$purple: $color-vegi-purple;
$teal: $color-vegi-teal;

// Options

// Spacing

// Body

$body-bg: $color-fuse-app-header;

// Links

// Paragraphs

// Grid breakpoints

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);

// Grid columns

// Components

$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-sm: .25rem;

// Typography

// Tables

// Buttons + Forms

// Buttons

$btn-border-width: 0;

$btn-border-radius: 10em;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

$btn-padding-x: 1rem;
$btn-padding-x-sm: 0.75rem;
$btn-padding-x-lg: 1.25rem;

// Forms

$form-check-input-gutter: 1.5rem;
$form-check-input-margin-y: 0.2rem;

// Form validation

// Z-index master list

// Navs

// Navbar
$navbar-toggler-border-radius: 0px;

// Dropdowns

// Pagination

// Jumbotron

// Cards

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Code

$code-color: inherit;

// Utilities

// Printing
