<div id="vendor-menu" v-cloak>
  <div class="container">
    <h1 class="h4 mt-3 mb-0">{{vendor.name}}</h1>
    <h2 v-if="vendor.deliveryRestrictionDetails" class="small mt-2">{{vendor.deliveryRestrictionDetails}}</h2>

    <div class="row" style="margin-bottom: 80px;">
      <div class="col-12 col-md-6" v-for="product in vendor.products">
        <div class="card my-3">
          <img class="card-img-top" :src="'/products/download-image/'+product.id" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title h5">{{product.name}}</h2>
            <p class="card-text" v-html="product.description"></p>
            <span @click="clickAddToCart(product.id)" class="btn btn-peepl stretched-link">Order</span>
          </div>
        </div>
      </div>
    </div>

    <modal v-if="addToCartModalActive" v-cloak @close="addToCartModalActive = false">
      <div v-if="isLoading" class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading…</span>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="modal-content add-to-cart-modal">
        <form @submit.prevent="addProductToCart">
        <div class="modal-body">
          <h3>{{selectedProduct.name}}</h3>
          <p v-html="selectedProduct.description"></p>
          <div v-for="option in productOptions">
            <fieldset class="form-group" v-if="option.values.length > 0">
              <legend class="h5">{{option.name}}</legend>
              <div class="form-check" v-for="value in option.values">
                <input class="form-check-input" type="radio" required :name="'option-' + option.id" :id="'option-' + option.id + '-' + value.id" :value="value.id" v-model="selectedOptionValues[option.id]" @change="changeOptionValue">
                <label class="form-check-label" :for="'option-' + option.id + '-' + value.id">{{value.name}} <span v-if="value.priceModifier">- {{value.priceModifier | convertToPounds}}</span></label>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="modal-footer">
          <p class="mr-auto"><strong>{{currentProductTotal | convertToPounds}}</strong></p>
          <a class="btn btn-outline-secondary" @click="addToCartModalActive=false">Cancel</a>
          <button class="btn btn-peepl">Add to cart</button>
        </div>
        </form>
      </div>
    </modal>

    <modal v-if="checkoutModalActive" v-cloak @close="checkoutModalActive = false" :width="640">
      <div v-if="isLoading" class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading…</span>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="modal-content checkout-modal">
        <div class="modal-header">
          <h5 class="mb-0">Checkout</h5>
        </div>
        <ajax-form ref="createOrder" action="createOrder" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="nameInput">Your Name</label>
              <input type="text" :class="{ 'is-invalid': formErrors.name }" v-model="address.name" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
            </div>
            <div class="form-group">
              <label for="emailInput">Email Address</label>
              <input type="email" autocomplete="email" :class="{ 'is-invalid': formErrors.email }" v-model="address.email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
            </div>
            <div v-if="!alreadyOptedIn" class="form-group form-check mt-3 mb-4 comms-opt-in">
              <input type="checkbox" class="form-check-input" id="commsOptIn" v-model="marketingOptIn" aria-describedby="commsOptInInfo">
              <label for="commsOptIn" class="form-check-label">Join our lovely mailing list</label>
              <span id="commsOptInInfo">Stay in the loop with exciting updates from Peepl restaurants and partners across the city.</span>
            </div>
            <div class="form-group">
              <label for="telephoneInput">Contact Number</label>
              <input type="tel" :class="{ 'is-invalid': formErrors.telephone }" v-model="address.phoneNumber" class="form-control" id="telephoneInput" aria-describedby="telephoneHelp" required>
            </div>
            <div class="form-group">
              <label for="addressLineOneInput">Delivery Address <span class="sr-only">Line One</span></label>
              <input type="text" v-model="address.lineOne" class="form-control" id="addressLineOneInput" required>
            </div>
            <div class="form-group mt-n2">
              <label for="addressLineTwoInput" class="sr-only">Address Line Two</label>
              <input type="text" v-model="address.lineTwo" class="form-control" id="addressLineTwoInput">
            </div>
            <div class="form-group">
              <label for="postcodeInput">Delivery Postcode</label>
              <input type="text" v-model.trim="address.postCode" @change="updatedPostCode" class="form-control" id="postcodeInput" style="text-transform: uppercase; max-width: 10em" required>
            </div>
            <div class="form-group">
              <label for="deliveryInstructions">Delivery Instructions</label>
              <textarea class="form-control" id="deliveryInstructions" v-model="address.deliveryInstructions" rows="3" maxlength="200" placeholder="Hard to find location, or special instructions for access? Let your rider know here."></textarea>
              <span class="float-right badge badge-secondary" id="countMessage">{{instructionCharactersRemaining}}</span>
            </div>
            <div class="form-group">
              <label for="discountInput">Discount Code</label>
              <input type="text" maxlength="50" minlength="3" v-model.trim="discountCode" :class="{'is-valid': discount.percentage, 'is-invalid': discount.invalid}" class="form-control" id="discountInput" style="text-transform: uppercase; max-width: 10em">
            </div>
            <a href="#" @click="updatedDiscountCode" class="btn btn-peepl">Apply</a>

            <h5 class="mt-4">Delivery Options</h5>
            <div v-for="(option, index) in deliveryMethods" class="border rounded my-3 px-3 pt-3">
              <h6 v-for="product in option.products" class="mb-3">{{product.name}} x{{product.quantity}}</h6>
              <div class="form-group">
                <label :for="'deliveryMethod' + index">Delivery Method</label>
                <select v-if="option.deliveryMethods.length > 0" @change="changeDeliveryMethod" class="form-control" :id="'deliveryMethod' + index" required>
                  <option disabled selected value="">Select a delivery method…</option>
                  <option v-for="deliveryMethod in option.deliveryMethods" :value="deliveryMethod.id">{{deliveryMethod.name}}</option>
                </select>
                <p v-else class="text-danger">Unfortunately we don't cover your area yet. Please check product description for postcodes covered!</p>
              </div>
              <div v-if="option.selected" class="form-group">
                <label :for="'deliverySlot' + index">Delivery Slot</label>
                <select v-if="option.selected.deliveryMethodSlots" @change="changeDeliverySlot" class="form-control"  :id="'deliverySlot' + index" required>
                  <option disabled selected value="">Select a delivery slot…</option>
                  <option v-for="deliveryMethodSlot in option.selected.deliveryMethodSlots" :value="deliveryMethodSlot.id">{{deliveryMethodSlot.startTime | deliverySlotFilter}} - {{deliveryMethodSlot.endTime | deliverySlotFilter}} ({{deliveryMethodSlot.slotsRemaining}} left)</option>
                </select>
                <p v-else class="text-danger">Unfortunately, there are no slots available. Please try a different delivery option.</p>
              </div>
            </div>

            <h5 class="mt-4">Payment</h5>
            <p class="d-flex justify-content-between mt-3 mb-0">
              <b>Your order:</b>
              {{cartTotal | convertToPounds}}
            </p>
            <p class="d-flex justify-content-between mt-3 mb-0">
              <b>Delivery:</b>
              {{deliveryTotal | convertToPounds}}
            </p>
            <p v-if="discount.percentage" class="d-flex justify-content-between mt-3 mb-0">
              <b>Discount:</b>
              {{totalDiscount | convertToPounds}}
            </p>

            <h6 class="d-flex justify-content-between mt-3 mb-0 border-top pt-3">
              <b>Total:</b>
              {{finalTotal | convertToPounds}}
            </h6>
            <h6 class="d-flex justify-content-between mt-4 mb-0">
              <b>In your wallet:</b>
              {{ walletTotal | convertToPounds }}
            </h6>

            <div class="border rounded p-3 my-4" v-if="walletTotal < finalTotal">
              <h5>You need to top up</h5>
              <p>Peepl works like a wallet – you top up with your card, and then spend. This helps us keep costs low for your favourite restaurants.</p>
              <p>You will need to top up at least <strong>{{ (finalTotal - walletTotal) < 30 ? 30 : finalTotal - walletTotal | convertToPounds }}</strong> before you can check out.</p>
              <a href="#" @click="startTopUp" class="btn btn-peepl btn-block">Top up {{ (finalTotal - walletTotal) < 30 ? 30 : finalTotal - walletTotal | convertToPounds }}</a>
            </div>

            <h6 class="text-danger" v-if="cloudError">{{cloudError}}</h6>
          </div>
          <div class="modal-footer">
            <a class="btn btn-outline-secondary" @click="checkoutModalActive=false">Cancel</a>

            <ajax-button class="btn btn-peepl" :disabled="!readyToPay" type="submit" v-bind:class="{ 'is-loading': syncing }">
              <span v-if="syncing">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </span>
              <span v-else>Pay {{finalTotal | convertToPounds}}</span>
            </ajax-button>
          </div>
        </form>
      </div>
    </modal>
    <modal v-if="submitted" v-cloak>
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mt-3 d-flex justify-content-center">
            <div class="spinner-border text-peepl-red" role="status">
              <span class="sr-only">Loading…</span>
            </div>
          </div>
          <h3 class="mt-3">Yum!</h3>
          <p class="mb-2">As we mentioned before, new tech 🙄</p>
          <p class="mb-2">Good thing is, part of this delay is us sending you your 10% Peepl reward.</p>
          <p>We think this reward is the foundation for something new, so thanks again for your patience!</p>
        </div>
      </div>
    </modal>
    <!-- <modal v-if="processingTopup" v-cloak>
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mt-3 d-flex justify-content-center">
            <div class="spinner-border text-peepl-red" role="status">
              <span class="sr-only">Waiting for deposit...</span>
            </div>
          </div>
          <h3 class="mt-3">One sec!</h3>
          <p class="mb-2">All sorts of new tech stuff is happening in the background.</p>
          <p>Turns out, forking up the system takes a little while!</p>
        </div>
      </div>
    </modal> -->
  </div>

  <div class="fixed-bottom py-3 bg-white shadow border-top" v-if="cartTotal">
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h2 class="h6 mb-1">{{ cart.length }} {{ (cart.length == 1) ? 'item' : 'items' }}</h2>
          <p class="mb-0" style="font-size: 0.875rem">Total: {{cartTotal | convertToPounds}}</p>
        </div>
        <span @click="openCheckoutModal" class="btn btn-peepl">Checkout</span>
      </div>
    </div>
  </div>

  <div style="height: 5rem" v-if="cartTotal">
    <!-- make space for fixed position cart banner -->
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
