<div id="vendor-menu" v-cloak>
  <div class="container">
    <h1 class="h4 mt-3 mb-0">{{vendor.name}}</h1>

    <div class="row" style="margin-bottom: 80px;">
      <div class="col-12 col-md-6" v-for="product in vendor.products">
        <div class="card my-3">
          <img class="card-img-top" :src="product.image" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title h5">{{product.name}}</h2>
            <p class="card-text" v-html="product.description"></p>
            <span @click="clickAddToCart(product.id)" class="btn btn-peepl stretched-link">Order</span>
          </div>
        </div>
      </div>
    </div>

    <modal v-if="addToCartModalActive" v-cloak @close="addToCartModalActive = false">
      <div v-if="isLoading" class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading…</span>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="modal-content">
        <form @submit.prevent="addProductToCart">
        <div class="modal-body">
          <h3>{{selectedProduct.name}}</h3>
          <p v-html="selectedProduct.description"></p>
          <div v-for="option in productOptions">
            <fieldset class="form-group">
              <legend class="h5">{{option.name}}</legend>
              <div class="form-check" v-for="value in option.values">
                <input class="form-check-input" type="radio" required :name="'option-' + option.id" :id="'option-' + option.id + '-' + value.id" :value="value.id" v-model="selectedOptionValues[option.id]" @change="changeOptionValue">
                <label class="form-check-label" :for="'option-' + option.id + '-' + value.id">{{value.name}}</label>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="modal-footer">
          <p class="mr-auto"><strong>{{currentProductTotal | convertToPounds}}</strong></p>
          <a class="btn btn-outline-secondary" @click="addToCartModalActive=false">Cancel</a>
          <button class="btn btn-peepl">Add to cart</button>
        </div>
        </form>
      </div>
    </modal>

    <modal v-if="checkoutModalActive" v-cloak @close="checkoutModalActive = false" :width="640">
      <div v-if="isLoading" class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading…</span>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="modal-content">
        <div class="modal-header">
          <h5 class="mb-0">Checkout</h5>
        </div>
        <ajax-form action="createOrder" protocol="io.socket" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="nameInput">Your Name</label>
              <input type="text" :class="{ 'is-invalid': formErrors.name }" v-model="address.name" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
            </div>
            <div class="form-group">
              <label for="emailInput">Email Address</label>
              <input type="email" :class="{ 'is-invalid': formErrors.email }" v-model="address.email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
              <label for="telephoneInput">Contact Number</label>
              <input type="tel" :class="{ 'is-invalid': formErrors.telephone }" v-model="address.phoneNumber" class="form-control" id="telephoneInput" aria-describedby="telephoneHelp" required>
            </div>
            <div class="form-group">
              <label for="addressLineOneInput">Delivery Address <span class="sr-only">Line One</span></label>
              <input type="text" v-model="address.lineOne" class="form-control" id="addressLineOneInput" required>
            </div>
            <div class="form-group mt-n2">
              <label for="addressLineTwoInput" class="sr-only">Address Line Two</label>
              <input type="text" v-model="address.lineTwo" class="form-control" id="addressLineTwoInput">
            </div>
            <div class="form-group">
              <label for="postcodeInput">Delivery Postcode</label>
              <input type="text" v-model="address.postCode" @change="updatedPostCode" class="form-control" id="postcodeInput" style="text-transform: uppercase; max-width: 10em" required>
            </div>
            <div class="form-group">
              <label for="deliveryInstructions">Delivery Instructions</label>
              <textarea class="form-control" id="deliveryInstructions" v-model="address.deliveryInstructions" rows="3" maxlength="200" placeholder="Hard to find location, or special instructions for access? Let your rider know here."></textarea>
              <span class="float-right badge badge-secondary" id="countMessage">{{instructionCharactersRemaining}}</span>
            </div>


            <h5>Delivery Options</h5>
            <div v-for="(option, index) in deliveryMethods">
              <div v-for="product in option.products">
                <p>{{product.name}} x{{product.quantity}}</p>
              </div>
              <div class="form-group">
                <label :for="'deliveryMethod' + index">Delivery Method</label>
                <select v-if="option.deliveryMethods.length > 0" @change="changeDeliveryMethod" class="form-control" :id="'deliveryMethod' + index" required>
                  <option disabled selected value="">Select a delivery method...</option>
                  <option v-for="deliveryMethod in option.deliveryMethods" :value="deliveryMethod.id">{{deliveryMethod.name}}</option>
                </select>
                <p v-else class="text-danger">Unfortunately we don't cover your area yet. Please check product description for postcodes covered!</p>
              </div>
              <div v-if="option.selected" class="form-group">
                <label :for="'deliverySlot' + index">Delivery Slot</label>
                <select v-if="option.selected.deliveryMethodSlots" @change="changeDeliverySlot" class="form-control"  :id="'deliverySlot' + index" required>
                  <option disabled selected value="">Select a delivery slot...</option>
                  <option v-for="deliveryMethodSlot in option.selected.deliveryMethodSlots" :value="deliveryMethodSlot.id">{{deliveryMethodSlot.startTime | deliverySlotFilter}} - {{deliveryMethodSlot.endTime | deliverySlotFilter}} ({{deliveryMethodSlot.slotsRemaining}} left)</option>
                </select>
                <p v-else class="text-danger">Unfortunately, there are no slots available. Please try a different delivery option.</p>
              </div>
            </div>

          <h6 class="d-flex justify-content-between mt-3 mb-0">
            <b>Total:</b>
            {{cartTotal | convertToPounds}}
          </h6>
          <h6 class="d-flex justify-content-between mt-3 mb-0">
            <b>Delivery:</b>
            {{deliveryTotal | convertToPounds}}
          </h6>
          <h6 class="text-danger" v-if="cloudError">{{cloudError}}</h6>
        </div>
          <div class="modal-footer">
            <a class="btn btn-outline-secondary" @click="checkoutModalActive=false">Cancel</a>
            <ajax-button class="btn btn-peepl" :disabled="!readyToPay" type="submit" v-bind:class="{ 'is-loading': syncing }">Pay {{finalTotal | convertToPounds}}</ajax-button>
          </div>
        </form>
      </div>
    </modal>
    <modal v-if="submitted" v-cloak>
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mt-3 d-flex justify-content-center">
            <div class="spinner-border text-peepl-red" role="status">
              <span class="sr-only">Loading…</span>
            </div>
          </div>
          <h3 class="mt-3">Yum!</h3>
          <p class="mb-2">Give us a minute while we complete your payment and send your reward.</p>
          <p>Don’t go anywhere.</p>
        </div>
      </div>
    </modal>
  </div>

  <div class="fixed-bottom py-3 bg-white shadow border-top" v-if="cartTotal">
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h2 class="h6 mb-1">{{ cart.length }} {{ (cart.length == 1) ? 'item' : 'items' }}</h2>
          <p class="mb-0" style="font-size: 0.875rem">Total: {{cartTotal | convertToPounds}}</p>
        </div>
        <span @click="openCheckoutModal" class="btn btn-peepl">Checkout</span>
      </div>
    </div>
  </div>

  <div style="height: 5rem" v-if="cartTotal">
    <!-- make space for fixed position cart banner -->
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
