<div class="bg-white pb-3">
  <div class="container">
    <img alt="fish" class="fishy" src="/images/peepl-skydiving.jpeg"/>
  
    <div class="main">
      <h2>
        Something's gone awry!
      </h2>
      <h4>
        <% if (typeof error!== 'undefined') { %>
          <%= error %>
        <% } else { %>
          The page you were trying to reach doesn't exist.
        <% } %>
        </h4>
      <!-- <p class="help">
        <a href="https://sailsjs.com/support">Why</a> might this be happening?
      </p> -->
    </div>
  </div>
</div>
