<div id="all-orders" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">
    <h1 class="my-5">Paid Orders <% if(acceptanceStatus) { %>(<%= acceptanceStatus.charAt(0).toUpperCase() + acceptanceStatus.slice(1) %>)<% } %></h1>
    <div class="row">
        <div v-for="order in orders" class="col-md-6">
          <order-card :order="order"></order-card>
        </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
