<div id="all-orders" v-cloak>
  <div class="container">
    <h1 class="h4 text-center my-4">All orders</h1>
    <div class="row">
        <div v-for="order in orders" class="col-md-6">
          <div class="my-3 p-3 bg-white rounded">
            <p class="text-muted m-0">Order #{{order.id}} <span class="btn btn-peepl float-right" @click="clickArchiveOrder(order.id)">Archive</span></p>
            <div v-for="item in order.items">
              <h2 class="h5 border-top pt-3 mt-3 mb-0">{{item.product.name}}</h2>
              <ol v-if="item.optionValues && item.optionValues.length" class="order-confirmation__option-values">
                <li v-for="optionValue in item.optionValues"><b>{{optionValue.option.name}}</b>: {{optionValue.optionValue.name}}</li>
              </ol>
              <h2 class="h6 border-top pt-3 mt-3 mb-0"><b>Delivery:</b> </h2>
              
            </div>
            <p><b>Name:</b> {{order.deliveryName}}
            <br><b>Email:</b> {{order.deliveryEmail}}
            <br><b>Number:</b> <a :href="'tel:'+order.deliveryPhoneNumber">{{order.deliveryPhoneNumber}}</a>
            <br><b>Line One:</b> {{order.deliveryAddressLineOne}}
            <br><b>Line Two:</b> {{order.deliveryAddressLineTwo}}
            <br><b>Post Code:</b> {{order.deliveryAddressPostCode}}
            <br><b>Notes:</b> {{order.deliveryAddressInstructions}}
            <h2 class="h5 border-top pt-3 mt-3 mb-0 d-flex">
              <span class="mr-auto">Total</span>
              <span>£{{order.total / 100}}</span>
            </h2>
            <p class="mt-2 mb-0 d-flex text-success">
              <span class="mr-auto">Reward</span>
              <span>+ {{order.total}} PPL</span>
            </h2>
          </div>
        </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
