<div id="my-orders" v-cloak>
  <div class="container">
    <h1 class="h4 text-center my-4">Your orders</h1>

      <div v-for="order in orders" class="my-3 p-3 bg-white rounded">
        <p class="text-muted m-0">Order #{{order.id}}</p>
        <div v-for="item in order.items">
          <h2 class="h5 border-top pt-3 mt-3 mb-0">{{item.product ? item.product.name : 'NA'}}</h2>
            <ol class="order-confirmation__option-values" v-if="item.optionValues && item.optionValues.length">
                <li v-for="optionValue in item.optionValues">{{optionValue.name}}</li>
            </ol>
          <h2 class="h6 border-top pt-3 mt-3 mb-0">Delivery: {{item.deliveryMethod.name}}</h2>
          <p>{{item.deliverySlot.startTime | formatDeliverySlot}} - {{item.deliverySlot.endTime | formatDeliverySlot}}</p>
        </div>
        <h2 class="h5 border-top pt-3 mt-3 mb-0 d-flex">
          <span class="mr-auto">Total</span>
          <span>£{{order.total / 100}}</span>
        </h2>
        <p class="mt-2 mb-0 d-flex text-success">
          <span class="mr-auto">Reward</span>
          <span>+ {{order.total}} PPL</span>
        </h2>
      </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
