<div id="dashboard" class="bg-white pb-3">
  <% if (userRole === 'admin' ) { %>
    <%- partial('../../partials/admin-navbar.ejs') %>
    <%- this.req %>
  <% } else {%>
    <%- partial('../../partials/consumer-navbar.ejs') %>
  <% } %>
  <div class="container">

    <div class="main">
      <h2>
        vegi Home
      </h2>

      <img alt="vegi" class="fishy" src="/images/roast-back.jpg"/>
    </div>
  </div>
</div>
