<div id="bar-menu" v-cloak>
  <div class="container pt-2 pb-5">
    <div class="peepl-bar-menu">
        <p class="mx-auto">
            Welcome to the Peepl in Abundance bar. We're happy to have you here!
        </p>
        <p>To start, please select whether you travelled here by public transport or car.</p>
        <form id="payment-form" @submit="sendPayment">
            <div class="form-group">
                <label for="travelMethod">Travel method</label>
                <select v-model="isGood" class="form-control">
                    <option disabled value="">Please select one</option>
                    <option v-bind:value="false">Car or Taxi</option>
                    <option v-bind:value="true">Public Transport</option>
                    <option v-bind:value="true">Walking, Jogging or Running</option>
                </select>
            </div>
            <table class="menu-table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Description</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{(isGood) ? product.reducedPrice : product.fullPrice}}</td>
                        <td>
                            <div class="form-group">
                                <select v-model="quantities[product.id]" class="form-control quantity" data-item="loveLaneLager">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <p>Your total is: <span id="total">£{{total}}</span></p>
            <button type="submit" class="btn btn-primary">Send payment</button>
        </form>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
