<div id="help" class="container" v-cloak>

  <!-- <h1>Help</h1> -->
  <h2>How do I pay?</h2>
  <p>We keep fees low for your local restaurants by avoiding expensive credit card processors.</p>
  <p>Instead, you pay restaurants directly, from your Peepl wallet.</p>
  <p>Tap “Home”, then the menu icon, then “Top up” to add money to your wallet, straight from your bank account.</p>

  <h2>My bank doesn’t appear as an option during the top-up process.</h2>
  <p>Most UK banks are supported. But if yours isn’t, contact us at <a href="mailto:help@itsaboutpeepl.com">help@itsaboutpeepl.com</a> and we’ll help you top up your wallet with a transfer via your bank’s app or website.</p>

  <h2>Where can I see my past orders?</h2>
  <p>We don’t currently have a way to show past orders yet, but it’s coming! In the meantime, check your email inbox for the confirmation message we sent after you first made your order – it will have come from <a href="mailto:help@itsaboutpeepl.com">help@itsaboutpeepl.com</a>.</p>

  <h2>My order hasn’t turned up</h2>
  <p>The quickest way to resolve issues with your order is by contacting the restaurant you ordered from, directly. Their phone number is included on the confirmation email we sent you when you ordered. If you don’t get anywhere with that, or you’ve lost your confirmation email, then contact us at <a href="mailto:help@itsaboutpeepl.com">help@itsaboutpeepl.com</a> and we’ll do our best to put you in touch with the venue.</p>

  <h2>Who are you?</h2>
  <p>We’re a group of scousers with a vision for creating a fairer, more inclusive local economy. We want to stop money leaving the city region, going to banks and silicon valley monopolies, and instead reinvest that money into the businesses and people that make the Liverpool City Region so special.</p>
  <p>You can find out more at <a href="https://itsaboutpeepl.com/">itsaboutpeepl.com</a>.</p>

  <h2>What information do you store about me?</h2>
  <p>When you provide your email address, phone number, and delivery address as part of your order, we store those details so that we can send them to the restaurant for delivery of your order. We also store your Peepl wallet ID, so that can match up your order with your payment.</p>
  <p>We don’t share any of that data with anyone else. And we don’t store any other data about you or your device.</p>
  <p>You can contact us at any time to ask for a copy of all data we hold about you, or to remove all data we hold about you. Just email <a href="mailto:help@itsaboutpeepl.com">help@itsaboutpeepl.com</a>.</p>

  <h2>Can I list my own business on Peepl?</h2>
  <p>We’re rolling out Peepl very carefully at the moment, and working with a small number of partners to make sure the experience is just right. But if you’re interested in joining our pilot, email <a href="mailto:help@itsaboutpeepl.com">help@itsaboutpeepl.com</a>.</p>

  <h2>Something doesn’t seem right, how can I send you feedback?</h2>
  <p>Email us at <a href="mailto:help@itsaboutpeepl.com">help@itsaboutpeepl.com</a>.</p>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
