<div id="account" class="admin" v-cloak>
    <%- partial('../../partials/admin-navbar.ejs') %>
    <div class="container">
        <h1 class="h4 text-center my-4">Account</h1>
        <!-- <p class="text-muted m-0">Phone: +{{user.phoneCountryCode}} {{user.phoneNoCountry}}</p> -->
        <ajax-form id="accountDetailsForm" class="" :handle-parsing="parseAccountDetails" :syncing.sync="syncing"
            :cloud-error.sync="cloudError" @submitted="submittedAccountDetailsForm()"
            :handle-submitting="clickUpdateAccountDetails">
            <div class="form-group">
                <label for="name">Phone</label>
                <input type="text" id="phone" readonly :value="phoneNumber"
                    class="form-control readonly">
            </div>
            <div class="form-group">
                <label for="name">Update Name</label>
                <input type="text" id="name" v-model="user.name" placeholder="enter name" :class="{ 'is-invalid': formErrors.name }"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Update Email for {{user.name}}</label>
                <input type="email" id="email" v-model="user.email" placeholder="enter email"
                    :class="{ 'is-invalid': formErrors.email }" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Update Password for {{user.name}}</label>
              <input
                type="password" class="form-control"
                id="password"
                placeholder="set new password"
                :class="[formErrors.password ? 'is-invalid' : '']"
                v-model.trim="user.password">
              <div class="invalid-feedback" v-if="formErrors.password">Please enter your password.</div>
            </div>
            
            <h2 class="h5">Marketing Preferences</h2>
            <div class="form-group">
              <label for="marketingEmailContactAllowed">Email Communication Allowed</label>
              <input
                type="checkbox" class="form-control"
                id="marketingEmailContactAllowed"
                v-model="user.marketingEmailContactAllowed">
            </div>
            <div class="form-group">
              <label for="marketingPhoneContactAllowed">Phone Communication Allowed</label>
              <input
                type="checkbox" class="form-control"
                id="marketingPhoneContactAllowed"
                v-model="user.marketingPhoneContactAllowed">
            </div>
            <div class="form-group">
              <label for="marketingPushContactAllowed">Push Communication Allowed</label>
              <input
                type="checkbox" class="form-control"
                id="marketingPushContactAllowed"
                v-model="user.marketingPushContactAllowed">
            </div>
            <div class="form-group">
              <label for="marketingNotificationUtility">Notification Utility</label>
              <select class="form-control" id="marketingNotificationUtility" v-model="user.marketingNotificationUtility" >
                  <option value=-1>None</option>
                  <option value=0>Minimal</option>
                  <option value=1>Order Updates</option>
                  <option value=2>All</option>
              </select>
            </div>

            <ajax-button class="btn btn-peepl mt-4" :class="{ 'is-loading': syncing }" @click="clickUpdateAccountDetails()" type="submit" :syncing="syncing">
                Update Details</ajax-button>
                
            <div v-if="cloudError === 'badVerificationCode'" class="alert alert-danger mt-4 hidden" role="alert">
                Please ensure verification code is 6 digits: '123456'
            </div>
            <div v-else-if="cloudError === 'badEmail'" class="alert alert-danger mt-4 hidden" role="alert">
                Please ensure email if formatted correctly
            </div>
            <div v-else-if="cloudError" class="alert alert-danger mt-4 hidden" role="alert">
                There has been an error updating your account details.
            </div>
        </ajax-form>
        </div>
        <div v-if="user.isSuperAdmin">
            <h1 class="h4 text-center my-4">Admin Panel</h1>
            <div class="container">
                <label for="superadmin">Super Admin</h3>
                    <p class="text-muted m-0" id="superadmin">{{user.isSuperAdmin}}</p>
            </div>
        </div>
        <div v-if="user.isSuperAdmin || user.role === 'vendor'">
            <h1 class="h4 text-center my-4">Vendor Panel</h1>
            <div class="container">
                <label for="vendor-container">Vendor</h3>
                    <div id="vendor-container">
                        <p v-if="user.vendor" class="text-muted m-0" id="vendor">{{user.vendor.name}}</p>
                        <p v-else class="text-muted m-0">No Vendor</p>
                    </div>
                    <label for="vendorrole">Role</h3>
                        <p class="text-muted m-0" id="vendorrole">{{user.vendorRole}}</p>
            </div>
            <div v-if="user.isSuperAdmin || user.vendorRole === 'admin'">
                <!-- <ajax-form id="accountDetailsForm" class="" :handle-parsing="parseAccountDetails" :syncing.sync="syncing"
                                                                :cloud-error.sync="cloudError" @submitted="submittedAccountDetailsForm()"
                                                                :handle-submitting="clickUpdateAccountDetails">
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input type="email" id="email" v-model="email" placeholder="enter email"
                                                                        :class="{ 'is-invalid': formErrors.email }" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name">Name</label>
                                                                    <input type="text" id="name" v-model="name" placeholder="enter name" :class="{ 'is-invalid': formErrors.name }"
                                                                        class="form-control">
                                                                </div>
                                                                <ajax-button class="btn btn-peepl mt-4" :class="{ 'is-loading': syncing }" type="submit" :syncing="syncing">
                                                                    Update Details</ajax-button>
                                                                <div v-if="cloudError === 'badVerificationCode'" class="alert alert-danger mt-4 hidden" role="alert">
                                                                    Please ensure verification code is 6 digits: '123456'
                                                                </div>
                                                                <div v-else-if="cloudError === 'badEmail'" class="alert alert-danger mt-4 hidden" role="alert">
                                                                    Please ensure email if formatted correctly
                                                                </div>
                                                                <div v-else-if="cloudError" class="alert alert-danger mt-4 hidden" role="alert">
                                                                    There has been an error updating your account details.
                                                                </div>
                                                            </ajax-form> -->
                <div class="m-0">
                    <p>Placeholder for managing users registered to this vendor.</p>
                </div>
            </div>
        </div>
        <div v-if="user.isSuperAdmin || user.role === 'deliveryPartner'">
            <h1 class="h4 text-center my-4">Delivery Partner Panel</h1>
            <div class="container">
                <label for="deliveryPartner-container">Delivery Partner</h3>
                    <div id="deliveryPartner-container">
                        <p v-if="user.deliveryPartner" class="text-muted m-0">{{user.deliveryPartner.name}}</p>
                        <p v-else class="text-muted m-0">No Delivery Partner</p>
                    </div>
                    <label for="deliveryPartnerrole">Role</h3>
                        <p class="text-muted m-0" id="deliveryPartnerrole">{{user.deliveryPartnerRole}}</p>
            </div>
            <div v-if="user.isSuperAdmin || user.deliveryPartnerRole === 'admin'">
                <!-- <ajax-form id="accountDetailsForm" class="" :handle-parsing="parseAccountDetails" :syncing.sync="syncing"
                                                        :cloud-error.sync="cloudError" @submitted="submittedAccountDetailsForm()"
                                                        :handle-submitting="clickUpdateAccountDetails">
                                                        <div class="form-group">
                                                            <label for="email">Email</label>
                                                            <input type="email" id="email" v-model="email" placeholder="enter email"
                                                                :class="{ 'is-invalid': formErrors.email }" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name">Name</label>
                                                            <input type="text" id="name" v-model="name" placeholder="enter name" :class="{ 'is-invalid': formErrors.name }"
                                                                class="form-control">
                                                        </div>
                                                        <ajax-button class="btn btn-peepl mt-4" :class="{ 'is-loading': syncing }" type="submit" :syncing="syncing">
                                                            Update Details</ajax-button>
                                                        <div v-if="cloudError === 'badVerificationCode'" class="alert alert-danger mt-4 hidden" role="alert">
                                                            Please ensure verification code is 6 digits: '123456'
                                                        </div>
                                                        <div v-else-if="cloudError === 'badEmail'" class="alert alert-danger mt-4 hidden" role="alert">
                                                            Please ensure email if formatted correctly
                                                        </div>
                                                        <div v-else-if="cloudError" class="alert alert-danger mt-4 hidden" role="alert">
                                                            There has been an error updating your account details.
                                                        </div>
                                                    </ajax-form> -->
                <div class="mt-4">
                    <p>Placeholder for managing users registered to this delivery partner.</p>
                </div>
            </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
