<div id="approve-order" class="admin" v-cloak>
  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">

    <div class="mb-3">
      <h1>{{order.id}}</h1>
    </div>
  </div>
  <!-- <h1>TODO: Implement this page.</h1> -->
  <!-- <p>(See also <em>assets/styles/pages/admin/approve-order.less</em>, <em>assets/js/pages/admin/approve-order.page.js</em>, and <em>api/controllers/admin/view-approve-order.js</em>.)</p> -->

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
