<div id="approve-order" class="admin" v-cloak>
  <%- partial('../../partials/vendor-navbar.ejs') %>

    <div class="container">
      <order-card :order="order"></order-card>
    </div>
    <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>