<div id="category-groups" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">
    <h1 class="my-5">Category Groups ({{categoryGroups.length}})</h1>

    <table class="table action-table">
      <thead>
        <tr>
          <!-- <th scope="col"><span class="sr-only">Select</span></th> -->
          <th scope="col">Name</th>
          <th scope="col">Restaurant Category</th>
          <th scope="col"><span class="sr-only">Edit</span></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="categoryGroup in categoryGroups">

          <td class="action-table__shrink">
            <a :href="'/admin/category-groups/' + categoryGroup.id">{{categoryGroup.name}}</a>
          </td>
          <td>
            {{categoryGroup.forRestaurantItem}}
          </td>
          <td class="action-table__shrink">
            <a :href="'/admin/category-groups/' + categoryGroup.id">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-md-flex my-3 action-table-actions">
      <!-- <select class="form-control mr-3" disabled>
        <option>Mark as active</option>
        <option>Mark as draft</option>
        <option>Mark as inactive</option>
        <option>Delete</option>
      </select>
      <br/>
      <button class="btn btn-secondary" disabled>Apply</button> -->
      <a href="/admin/category-groups/new" class="btn btn-peepl ml-auto">Add a new category group</a>
    </div>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
