<div id="admin-discount-codes" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">

    <div class="mb-3">
      <h1>Discount Codes</h1>

      <fieldset>
        <h2 class="h5 mt-5">Discounts</h2>
  
        <edit-discount v-for="discount in discountCodes" :discount="discount">
        </edit-discount>
  
        <div class="d-md-flex my-3 action-card-actions">
          <select class="form-control form-control-sm mr-3" disabled>
            <option value="true">Set as available</option>
            <option value="false">Set as unavailable</option>
          </select>
          <br/>
          <button class="btn btn-peepl btn-sm">Apply</button>
          <button class="btn btn-peepl btn-sm ml-auto" @click="clickAddDiscount">Add a new discount code</button>
        </div>
      </fieldset>
    </div>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
