<div id="edit-category-group" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">

    <div class="mb-3">
      <h1>{{categoryGroup.name}}</h1>
      <!-- <h2 class="small">{{vendor.description}}</h2> -->
    </div>
    
    <ajax-form :form-data="categoryGroup" :syncing.sync="syncing" :form-rules="formRules" :form-errors.sync="formErrors" :cloud-error.sync="cloudError" @submitted="categoryGroupSubmitted" :action="(categoryGroup.id) ?  'editCategoryGroup' : 'createCategoryGroup'">
      <div class="form-group">
        <label for="name">Category Group Name</label>
        <input type="text" :class="{ 'is-invalid': formErrors.name || cloudError === 'alreadyExists' }" v-model="categoryGroup.name" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label for="forRestaurantItem">Restaurant Category</label>
        <select class="form-control" id="forRestaurantItem" v-model="categoryGroup.forRestaurantItem" >
          <!-- <option value="draft">Draft</option> -->
          <option value=false>Grocers</option>
          <option value=true>Restaurant</option>
        </select>
      </div>

      <fieldset>
        <h2 class="h5 mt-3">Featured Image</h2>
        <img v-if="previewImageSrc || categoryGroup.imageUrl" :src="(previewImageSrc) ? previewImageSrc : categoryGroup.imageUrl" />
        <div class="custom-file">
          <input :class="{ 'is-invalid': formErrors.image }" type="file" class="custom-file-input" accept="image/*" id="customFile" @change="changeProductImageInput($event.target.files)">
          <label class="custom-file-label" for="customFile">{{imageName}}</label>
        </div>
      </fieldset>

      <ajax-button class="btn btn-peepl mt-4" type="submit" :syncing="syncing" v-bind:class="{ 'is-loading': syncing }">Save changes</ajax-button>
      <div v-if="cloudError === 'notFound'" class="alert alert-danger mt-4" role="alert">
        category group not found.
      </div>
      <div v-else-if="cloudError === 'alreadyExists'" class="alert alert-danger mt-4" role="alert">
        A Category Group already exists with the name: "{{categoryGroup.name}}"
      </div>
      <div v-else-if="cloudError" class="alert alert-danger mt-4" role="alert">
        There has been an error updating the category group. Please try again.
      </div>
    </ajax-form>


  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
