<div id="admin-edit-vendor" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">
    <h1 class="my-5">{{vendor.name}}</h1>

    <ajax-form :form-data="vendor" action="editVendor">
      <div class="form-group">
        <label for="vendorName">Vendor Name</label>
        <input type="text" :class="{ 'is-invalid': formErrors.name }" v-model="vendor.name" class="form-control" id="vendorName" required>
      </div>
      <div class="form-group">
        <label for="vendorDescription">Vendor Description</label>
        <textarea type="text" class="form-control" rows="3" :class="{ 'is-invalid': formErrors.description }" v-model="vendor.description" id="vendorDescription" required></textarea>
      </div>
      <div class="form-group">
        <label for="vendorWallet">Vendor Wallet Address</label>
        <input type="text" :class="{ 'is-invalid': formErrors.walletId }" v-model="vendor.walletId" class="form-control text-monospace" id="vendorWallet" required>
      </div>
      <div class="form-group">
        <label for="vendorType">Vendor Type</label>
        <select class="form-control" id="vendorType" v-model="vendor.type" required>
          <option value="restaurant">Restaurant</option>
          <option value="shop" disabled>Shop</option>
        </select>
      </div>

      <fieldset>
        <h2 class="h5 mt-5">Image</h2>
        <img :src="'/vendors/download-image/' + vendor.id" />
        <div class="custom-file">
          <input type="file" class="custom-file-input" accept="image/*" id="customFile" @change="changeVendorImageInput($event.target.files)">
          <label class="custom-file-label" for="customFile">{{imageName}}</label>
        </div>
      </fieldset>

      <fieldset>
        <h2 class="h5 mt-5">Products</h2>

        <!-- TODO: sort by "priority" field -->
        <!-- TODO: loop through products -->
          <%- // partial('../../partials/admin-product.ejs') %>
        <!-- TODO: end loop -->

        <div class="d-md-flex my-3 action-card-actions">
          <select class="form-control form-control-sm mr-3" disabled>
            <option>Set as available</option>
            <option>Set as unavailable</option>
            <option>Delete</option>
          </select>
          <button class="btn btn-secondary btn-sm" disabled>Apply</button>
          <button class="btn btn-peepl btn-sm ml-auto">Add a new product</button>
        </div>
      </fieldset>

      <ajax-button class="btn btn-peepl mt-5" type="submit" v-bind:class="{ 'is-loading': syncing }">Save changes</ajax-button>
    </ajax-form>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
