<div id="login" class="admin" v-cloak>
  <%- partial('../../partials/admin-navbar.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">
                      <form id="numberForm" hidden>
                        <input type="tel" id="phoneNumber" value="" placeholder="(+44)9999999999">
                        <button type="button" id="submitNumberForVerification" @click="clickVerifyPhoneNumber">Submit Number</button>
                      </form>
                      <form id="verificationForm" hidden>
                        <input type="text" id="verificationcode" value="" placeholder="enter verification">
                        <button type="button" id="submitVerification" @click="verifyCodeSubmit">Submit Code</button>
                      </form>
                      <!-- <div id="firebaseui-auth-container"></div>
                                                                                                                                                          <button @click="clickInitFirebaseButton" id="firebase-sign-in-button" autofocus
                                                                                                                                                            class="btn-peepl btn-lg btn-block">Sign in</button> -->
                      <button @click="loadFirstCaptchaUser" id="test-button" class="btn-lg btn-block">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <iframe class="show-verification-code">
              <label for="sms-verification-code">SMS Verification Code</label>
              <input type="password" id="sms-verification-code" class="form-control">
            </iframe> -->
</div>
<!-- <script src="/js/pages/vendors/recaptcha.js"></script> -->
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
