<div id="postal-districts" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">
    <h1 class="my-5">Postal Districts [{{postalDistricts.length}}]</h1>

    <div class="mb-3">

      <fieldset>  
        <edit-postal-district v-bind:key="postalDistrict.id" v-for="postalDistrict in postalDistricts"
          :postaldistrict="postalDistrict">
        </edit-postal-district>
   
        <div class="d-md-flex my-3 action-card-actions">
          <button class="btn btn-peepl btn-sm ml-auto" @click="clickAddPostalDistrict">Add a new postal district</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
