<div id="admin-vendors" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">
    <h1 class="my-5">Vendors</h1>

    <table class="table action-table">
      <thead>
        <tr>
          <th scope="col"><span class="sr-only">Select</span></th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col"><span class="sr-only">Edit</span></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="vendor in vendors">
          <td class="action-table__shrink">
            <input type="checkbox" name="vendors">
          <td>
            <a :href="'/admin/vendors/' + vendor.id">{{vendor.name}}</a>
          </td>
          <td>
            {{vendor.status}}
          </td>
          <td class="action-table__shrink">
            <a :href="'/admin/vendors/' + vendor.id">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-md-flex my-3 action-table-actions">
      <!-- <select class="form-control mr-3" disabled>
        <option>Mark as active</option>
        <option>Mark as draft</option>
        <option>Mark as inactive</option>
        <option>Delete</option>
      </select>
      <br/>
      <button class="btn btn-secondary" disabled>Apply</button> -->
      <a href="/admin/vendors/new" class="btn btn-peepl ml-auto">Add a new vendor</a>
    </div>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
