<div id="white-list" class="admin" v-cloak>

  <%- partial('../../partials/admin-navbar.ejs') %>

  <div class="container">
    <h1 class="my-5">Accounts White List</h1>

    <table class="table action-table">
      <thead>
        <tr>
          <th scope="col"><span class="sr-only">Select</span></th>
          <th scope="col">Wallet Address</th>
          <th scope="col">Verified</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="account in accounts">
          <td class="action-table__shrink">
            <input type="checkbox" v-model="account.verified" @change="toggleVerifyAccount(account.walletAddress)" name="account_verified_{account.id}">
          <td>
            {{account.walletAddress}}
          </td>
          <td>
            {{account.verified}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
